*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}
.category-active{
    background-color: #2266A8;
    color: white;
}
::-webkit-scrollbar{
    display: none;
}